body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 150px);
}

header {
  height: 150px;
  background-color: lightblue;
  display: flex;
}

header > img {
}

header > h1 {
}
.sidebar {
  min-width: 300px;
  background-color: lightgray;
  display: flex;
}

.content {
  flex-grow: 1;
  display: flex;
}

.inner-text {
  font-weight: 700;
  font-size: 24px;
  margin: auto;
}

@media only screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
