body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 200px);
}

header {
  height: 200px;
  background-color: FFFFFF;
  display: flex;
}

header > img {
  margin: auto 0 auto 50px;
  width: 300px;
}

header > h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  margin: auto 0 auto 100px;
}
.sidebar {
  min-width: 400px;
  background-color: lightgray;
  display: flex;
}

.content {
  flex-grow: 1;
  display: flex;
  background-color: lightblue;
}

.inner-text {
  font-weight: 700;
  font-size: 24px;
  margin: auto;
}

@media only screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
